<div class="about">
    <div class="about__content">
        <!-- Header Section -->
        <div class="about__header">
            <h4 class="about__subtitle">WHO ARE WE</h4>
            <h2 class="about__title">Assisting individuals in locating the appropriate real estate.</h2>
            <p class="about__description">
                Donec porttitor euismod dignissim. Nullam a lacinia ipsum, 
                nec dignissim purus. Nulla convallis ipsum molestie nibh 
                malesuada, ac malesuada leo volutpat.
            </p>
        </div>

        <!-- Image Section -->
        <div class="about__right">
            <!-- <include
                src="./components/generic.html"
                locals='{
                "listClass": "gallery",
                "itemClass": "gallery__item",
                "showImage": true,
                "list": [
                    {
                        "image": "../assets/images/house-exterior.png",
                        "alt": "Modern House",
                        "extraClass": "gallery__main-img"
                    },
                    {
                        "image": "../assets/images/bedroom.png",
                        "alt": "Bedroom",
                        "extraClass": "gallery__item-img"
                    },
                    {
                        "image": "../assets/images/living-room.png",
                        "alt": "Living Room",
                        "extraClass": "gallery__item-img"
                    }
                ]
                }'
            >
            </include>
        
            <include
                src="./components/generic.html"
                locals='{
                "listClass": "est-logo",
                "itemClass": "logo",
                "showImage": true,
                "list": [
                    {
                        "image": "../assets/images/RES-2022.png",
                        "alt": "EST 2022"
                    }
                ]
                }'
            >
            </include> -->
        
            <include
                src="./components/generic.html"
                locals='{
                "listClass": "decorative",
                "itemClass": "decorative-circle",
                "showImage": true,
                "list": [
                    {
                        "image": "../assets/icons/about_deco.svg",
                        "alt": "About decoration"
                    }
                ]
                }'
            >
            </include>
        </div>

        <!-- Features Section -->
        <div class="about__features">
            <include
                src="./components/generic.html"
                locals='{
                "listClass": "about__features",
                "itemClass": "feature__item",
                "iconClass": "feature__icon",
                "contentClass": "feature__content",
                "titleClass": "feature__title",
                "descriptionClass": "feature__description",
                "showImage": true,
                "list": [
                    {
                    "image": "../assets/icons/house.svg",
                    "alt": "House",
                    "title": "Donec porttitor euismod",
                    "description": "Nullam a lacinia ipsum, nec dignissim purus. Nulla"
                    },
                    {
                    "image": "../assets/icons/human.svg",
                    "alt": "Human",
                    "title": "Donec porttitor euismod",
                    "description": "Nullam a lacinia ipsum, nec dignissim purus. Nulla"
                    }
                ]
                }'
            >
            </include>
        </div>
    </div>
</div>
