<section class="agent-banner">
    <div class="agent-banner__container">
      <figure class="agent-banner__circle agent-banner__circle--top">
        <img src="../assets/icons/banner.svg" alt="Circle Top">
      </figure>
      <figure class="agent-banner__circle agent-banner__circle--bottom">
        <img src="../assets/icons/banner.svg" alt="Circle Bottom">
      </figure>
      
      <div class="agent-banner__content">
        <h2 class="agent-banner__title">Become a Agent.</h2>
        <p class="agent-banner__description">Fusce venenatis tellus a felis scelerisque. venenatis tellus a felis scelerisque.</p>
        <a href="#" class="agent-banner__button">Register Now</a>
      </div>
      
      <figure class="agent-banner__image">
        <img src="../assets/images/agent-banner.png" alt="Agent">
      </figure>
    </div>
</section>
