<header>
    <div class="top-header">
        <div class="container">
            <div class="top-header__location">
                <img src="../assets/icons/pin.svg" alt="Location">
                <span>Rezilla, 18 Grattan St, Brooklyn</span>
            </div>
            <div class="top-header__contact">
                <a href="tel:+12062142298">
                    <img src="../assets/icons/phone.svg" alt="Phone">
                    +1 206-214-2298</a>
                <a href="mailto:support@rezilla.com">
                    <img src="../assets/icons/mail.svg" alt="Mail">
                    support@rezilla.com</a>
            </div>
        </div>
    </div>

    <include src="components/navbar.html"></include>
    
</header>