<nav class="navbar">
    <div class="container">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
            <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M24 0H0V2.18182H24V0Z" fill="#0B090A"/>
                <path d="M24 9.81819H0V12H24V9.81819Z" fill="#0B090A"/>
                <path d="M24 19.6364H0V21.8182H24V19.6364Z" fill="#0B090A"/>
            </svg>
        </label>

        <div class="navbar__left">
            <ul class="navbar__menu">
                <li><a href="#home" class="active">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#listings">Listings</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#blogs">Blogs</a></li>
            </ul>
        </div>

        <div class="navbar__center">
            <a href="/" class="navbar__logo">
                <div class="logo-container">
                    <img src="../assets/icons/logo.svg" alt="Home">
                </div>
                Rezilla
            </a>
        </div>

        <div class="navbar__right">
            <a href="/login" class="navbar__login">
                <img src="../assets/icons/login.svg" alt="Login">
                Login/Register
            </a>
            <a href="/add-listing" class="navbar__add-listing">
                <img src="../assets/icons/logo.svg" alt="Home">
                Add Listing
            </a>
        </div>
    </div>
</nav>