@use "../abstracts/" as *;

.about__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    transform: translateY(-30px);
    
    grid-template-areas:
        "header right"
        "features right";
    
    .about__header {
        grid-area: header;
    }
    
    .about__right {
        grid-area: right;
    }
    
    .about__features {
        grid-area: features;
    }
    
    // Tablet layout
    @include tablet {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "right"
            "features";
        margin: 0 auto;
        max-width: 90%;
    }
    
    // Mobile layout
    @include mobile {
        transform: translateY(0);
    }
}

.about__header {
    text-align: left;
    max-width: 90%;
    
    @include tablet {
        max-width: 100%;
        margin: 0 auto;
    }
}

.about__subtitle {
    color: $primary-color;
    font-size: 19.4px;
    font-weight: 400;
    margin-bottom: 1rem;


    @include mobile {
        font-size: 1rem;
    }
}

.about__title {
    font-size: 39.8px;
    font-weight: 600;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    color: $dark-text;
    
    @include mobile {
        font-size: 2rem;
    }

    @include small-mobile {
        font-size: 1.5rem;
    }
}

.about__description {
    color: $gray-text;
    max-width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.about__features {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    max-width: 85%;
    margin-left: 0;
    
    @include tablet {
        max-width: 90%;
        margin: 0 auto;
    }
    
    @include mobile {
        max-width: 100%;
        align-items: center;
        margin: 0 auto;
    }
}

.feature__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    background: $background-light;
    border-radius: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
    }
    
    @include tablet {
        max-width: 100%;
    }
}

.feature__icon {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: $primary-color;

    figure {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.feature__content {
    display: flex;
    flex-direction: column;
}

.feature__title {
    font-size: 19.4px;
    font-weight: 500;
    color: $primary-color;
    margin-bottom: 0.25rem;
    white-space: pre-line;

    @include mobile {
        font-size: 1rem;
    }
}

.feature__description {
    color: $gray-text;
    line-height: 1.5;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    
    @include small-mobile {
      font-size: 0.7rem;
      max-width: 100%;
    }
}

.about__right {
    display: grid;
    gap: 0.7rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    transform: translate(-80px, 70px);
    transition: transform 0.3s ease-in-out;
    position: relative;
    
    @include tablet {
        margin: 3rem auto -5rem auto;
        transform: translate(0, 0);
        max-width: 80%;
    }
    
    @include mobile {
        margin-bottom: -3rem;
        gap: 0.75rem;
        transform: translate(0, 0);
        max-width: 100%;
    }
}

/* EST-2022 logo */
.est-logo {
    position: absolute;
    width: 45%; 
    min-width: 100px; 
    max-width: 206px; 
    aspect-ratio: 1; 
    top: 50%;
    left: 50%;
    transform: translate(-25%, -200%);
    z-index: 2;
    animation: rotateLogo 30s linear infinite;

    @include tablet {
        width: 30%;
        transform: translate(-40%, -180%);
    }

    @include mobile {
        width: 25%;
        transform: translate(-35%, -220%);
    }

    @include small-mobile {
        transform: translate(-40%, -180%);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

// Định nghĩa hiệu ứng xoay
@keyframes rotateLogo {
    from {
        transform: translate(-25%, -200%) rotate(0deg);
    }
    to {
        transform: translate(-25%, -200%) rotate(360deg);
    }
}

// Điều chỉnh hiệu ứng xoay theo từng màn hình
@include tablet {
    @keyframes rotateLogo {
        from {
            transform: translate(-40%, -180%) rotate(0deg);
        }
        to {
            transform: translate(-40%, -180%) rotate(360deg);
        }
    }
}

@include mobile {
    @keyframes rotateLogo {
        from {
            transform: translate(-35%, -220%) rotate(0deg);
        }
        to {
            transform: translate(-35%, -220%) rotate(360deg);
        }
    }
}

@include small-mobile {
    @keyframes rotateLogo {
        from {
            transform: translate(-40%, -180%) rotate(0deg);
        }
        to {
            transform: translate(-40%, -180%) rotate(360deg);
        }
    }
}


/* Decorative SVG */
.decorative-circle {
    position: absolute;
    width: 27%;
    min-width: 80px; 
    max-width: 140px; 
    aspect-ratio: 1; 
    top: 50%;
    left: 50%;
    transform: translate(90%, 100%);
    z-index: 1;
    
    @include tablet {
        width: 20%;
        transform: translate(70%, 80%);
    }
    
    @include mobile {
        width: 15%;
        transform: translate(80%, 65%);
    }
}

/* Gallery styles */
.gallery__main {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 100%;
    transform: translateY(20px);

    &:hover {
        transition: transform 0.8s ease;
        transform: translateY(15px) scale(1.02);
    }
}

.gallery__item:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
    transform: translateY(-40px);
    
    &:hover {
        transition: transform 0.8s ease;
        transform: translateY(-50px) scale(1.01);
    }
}

.gallery__item:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
    transform: translateY(-105px);

    &:hover {
        transition: transform 0.8s ease;
        transform: translateY(-110px) scale(1.01);
    }
}

.gallery__main,
.gallery__item {
    position: relative;
}

.gallery__main img {
    width: 130%;
    height: 92%;
    padding-right: 12px;
    border-radius: 0px;
    
    @include tablet {
        width: 115%;
        height: 85%;
        padding-right: 5px;
    }
    
    @include mobile {
        transform: translate(0, -2rem);
        padding-right: 0;
    }
}

.gallery__item:nth-child(2) img {
    width: 125%;
    height: auto;
    object-fit: contain;
    transform: translateX(20px);
    
    @include tablet {
        width: 100%;
        transform: translateX(0);
    }
    
    @include mobile {
        width: 100%;
        transform: translate(0, 0);
    }
}

.gallery__item:nth-child(3) img {
    width: 125%;
    height: auto;
    object-fit: contain;
    transform: translateX(20px);
    
    @include tablet {
        width: 100%;
        transform: translateX(0);
    }
    
    @include mobile {
        width: 100%;
        transform: translate(0, 1.5rem);
    }

    @include small-mobile {
        transform: translate(0, 2.2rem);
    }
}
