@use "../components/" as *;
@use "../abstracts/" as *;

// Hide checkbox
.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
    cursor: pointer;
    
    @media (max-width: 992px) {
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-70%);
    }
}

.top-header {
    background-color: #3A0CA3;
    color: #FFFFFF;
    padding: 8px 0;

    @media (max-width: 992px) {
        display: none;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        max-width: 1350px;
        margin: 0 auto;
    }

    &__location {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
            width: 12px;
            height: auto;
        }

        span {
            font-size: 0.83125rem;
            font-weight: 400;
            @include outside-stroke(#000, 1px);
        }
    }

    &__contact {
        display: flex;
        align-items: center;
        gap: 24px;
        flex-wrap: wrap;

        @media (max-width: 1350px) {
            gap: 16px;
        }

        a {
            text-decoration: none;
            color: #FFFFFF;
            font-size: 0.83125rem;
            font-weight: 400;
            display: flex;
            align-items: center;
            gap: 8px;
            white-space: nowrap;

            &:hover {
                color: #F2F2F2;
            }
        }
    }
}



// Mobile menu toggle functionality
#nav-toggle:checked ~ .navbar__left {
    display: block;
}